@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi mascota</h1>
    
</div>

<article>
    <h2>Viaje con Mi Mascota</h2> <p></p>
    <img src="imagen/viaje.jpg" alt="Viaje con Mi Mascota" /> <p> </p>
    <p>Recientemente, llevé a mi mascota a un increíble viaje a las montañas. Fue una experiencia inolvidable, llena de aventuras y paisajes hermosos.</p>
    <p>Durante el viaje, acampamos junto a un tranquilo lago, donde mi mascota se divirtió explorando los alrededores y jugando en el agua. Por la noche, nos sentamos junto al fuego, contemplando las estrellas en el cielo despejado, sintiéndonos más conectados con la naturaleza que nunca.</p>
    <p>Este viaje no solo fue una oportunidad para relajarnos y desconectar de la rutina diaria, sino también para fortalecer el vínculo que tenemos. La experiencia de compartir estos momentos especiales hizo que el viaje fuera aún más significativo y memorable para ambos.</p>
</article>
</article>