@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi mascota</h1>
    
</div>

<article>
    <h2>Viaje con Mi Mascota</h2> 
    <img src="imagen/viaje.jpg" alt="Viaje con Mi Mascota" /> <p> </p>
    <p>Mi mascota es un fiel compañero, siempre lleno de energía y alegría. Le encanta jugar y explorar nuevos lugares. Es parte fundamental de mi vida y nos divertimos mucho juntos.</p>
</article>
<article>
    <h2>Viaje con Mi Mascota</h2>
    <img src="~/images/viaje.jpg" alt="Viaje con Mi Mascota" style="margin-bottom: 20px;" />
    <p>Recientemente, llevé a mi mascota a un increíble viaje a las montañas. Fue una experiencia inolvidable, llena de aventuras y paisajes hermosos.</p>
</article>